.card {
    border-radius: var(--main-border-radius);
}

.box {
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 700px !important;
    min-height: 200px !important;
    margin-bottom: 5px;
}

.box2 {
    @extend .box;
    background-color: rgba(0, 0, 0, 0);
}

.container {
    text-align: center;
    position: relative;
    padding: 0px 5px;
    margin-bottom: 5px;
}