.card {
    border-radius: var(--main-border-radius);
}

.cardInner {
    z-index: 1;
    height: 230px;
    width: 100%;
}

.gradient {
    position: absolute;
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    border-radius: var(--main-border-radius);
    opacity: 0.7;
}

.gradientTemp {
    @extend .gradient;
    background-image: var(--gradient-temp);
}

.gradientWind {
    @extend .gradient;
    background-image: var(--gradient-wind);
}

.gradientHumidity {
    @extend .gradient;
    background-image: var(--gradient-humidity);
}

.gradientPressure {
    @extend .gradient;
    background-image: var(--gradient-pressure);
}

.img {
    position: absolute;
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    border-radius: var(--main-border-radius);
}

.imgTemp {
    @extend .img;
    background-image: url('./assets/temp.jpg');
}

.imgWind {
    @extend .img;
    background-image: url('./assets/wind.jpg');
}

.imgHumidity {
    @extend .img;
    background-image: url('./assets/humidity.jpg');
}

.imgPressure {
    @extend .img;
    background-image: url('./assets/pressure.jpg');
}

.weekday {
    width: 100px;
}