.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 85%;
    max-width: 700px;
    min-height: 600px;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
    max-width: 700px !important;
}

.searchEdit {
    width: 15%;
    margin-bottom: 5px;
}