@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');
@import url('https://cdn3.devexpress.com/jslib/21.2.6/css/dx.light.css');
@import url('bootstrap/dist/css/bootstrap.min.css');

:root {
  --gradient-temp: linear-gradient(135deg, #171717 10%, #161c3f 100%);
  --gradient-wind: linear-gradient(135deg, #29808a 10%, #b7339a 100%);
  --gradient-humidity: linear-gradient(135deg, #2bbb8d 10%, #ce3fbe 100%);
  --gradient-pressure: linear-gradient(135deg, #339c2a 10%, #d122bd 100%);
  --bg-color: #343d4b;
  --bg-color--card: #222831;

  --main-text-color: #ffffff;

  --main-border-radius: 25px;
  --secondary-border-radius: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color) !important;
  color: var(--main-text-color) !important;
}